<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Khand" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Ranga' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<html>
  <head>
    <title>Beautiful Landscape</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-container ">
      <div class="navbar-header">
        <div class="navbar-brand">
          <%= link_to "Beautiful Landscape", root_path, id: "logo" %>
        </div>
      </div>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <li><%= link_to "新しいポスト", new_post_path %></li>
              <li><%= link_to "Hello, #{current_user.user_name}!", edit_profile_path(current_user.user_name) %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to "サインイン",  new_user_session_url %></li>
              <li><%= link_to "サインアップ", new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>"><%= msg %></div>
  <% end %>
    <%= yield %>
  </div>
  </body>
</html>
